.bottomMenu {
  display: flex;
  justify-content: center;

  &__form {
    width: 500px;
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    column-gap: 50px;
  }
}

.form {
  &__input {
    cursor: pointer;

    &--image {
      display: none;
    }
  }

  &__textarea {
    font-family: 'Lato', sans-serif;
    resize: none;
  }

  &__inputs {
    &--number {
      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        opacity: 1;
      }
    }
  }

  &__label {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 20px;
  }

  &__submit {
    margin-top: 50px;
  }
}
