@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

*{
  margin: 0;
  box-sizing: border-box;
}

.App {
  justify-content: space-around;
  font-family: 'Lato', sans-serif;
  font-weight: 400;

  &__container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    background-color: floralwhite;
  }

  &__content {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    border-bottom: 1px solid gray;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {   
    max-width: 980px;
    padding: 20px 0;
    margin: 0 auto;
}
